{% extends 'ubase.html' %}
{% load static %}
{% block content %}
<div class="col-md-9 main">
	<!-- register -->
			<div class="sign-up-form">
				 <h3 class="tittle">Photo Uplaod <i class="glyphicon glyphicon-file"></i></h3>
					<p>Having hands on experience in creating innovative designs,I do offer design 
						solutions which harness</p>
				<div class="sign-up">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
					 <!-- <h3 class="tittle reg">Personal Information <i class="glyphicon glyphicon-user"></i></h3> -->
					<div class="sign-u">
						<div class="sign-up1">
							<h4 class="a">Text :</h4>
						</div>
						<div class="sign-up2">
								<input type="text" class="text" name="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'text';}">

						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4 class="b">File:</h4>
						</div>
						<div class="sign-up2">
								<input type="file" class="text" name="file"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'file';}">

						
						</div>
						
					
					
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
<!-- //register -->
<!-- //login-page -->
			<div class="clearfix"> </div>
	

{% endblock %}